{
  "extends": [
    "eslint:recommended",
    "plugin:jest-dom/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "plugin:testing-library/react",
    "prettier"
  ],
  "plugins": ["react-hooks", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "settings": {
      "react": {
        "version": "detect",
        "defaultVersion": ""
      }
    },
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "camelcase": "off",
    "curly": ["error", "all"],
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-key": [1, { "checkFragmentShorthand": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-undef-init": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-useless-return": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.stories.js", "src/testUtilities/**/*"],
      "rules": { "import/no-extraneous-dependencies": "off" }
    }
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "fetch": true
  }
}
