{
  "extends": [
    "@sparkgeo/eslint-config-react",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_" // ignore unused vars and args that start with _. These vars are unsued, but named for readability/maintainability of code.
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.stories.js", "src/testUtilities/**/*"],
      "rules": { "import/no-extraneous-dependencies": "off" }
    }
  ]
}
