{
  "extends": ["@sparkgeo/eslint-config-react"],
  "plugins": ["react-hooks"],
  "rules": {
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_" // ignore unused vars and args that start with _. These vars are unsued, but named for readability/maintainability of code.
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.stories.js"],
      "rules": { "import/no-extraneous-dependencies": "off" }
    }
  ]
}
