@use '../../style/theme.scss' as *;
.title-container {
  display: flex;
  @media (max-width: $mobile-break) {
    justify-content: space-between;
  }
}
.pill-container {
  @media (max-width: $mobile-break) {
    display: block;
    max-width: 30%;
    div {
      float: right;
    }
  }
}
.project-card__wrapper {
  margin: $spacing-x-large auto 0 auto;
  width: $max-screen-width;
  max-width: $max-width;
  background: $white;
  &:hover,
  &:focus {
    outline: 2px solid $primary;
  }

  @media (max-width: $tablet-landscape-break) {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
.no-wrap-wrapper {
  white-space: nowrap;
}

.country-date-label {
  opacity: 0.8;
  font-size: $small-font-size;
}
