@use '../../style/theme.scss';

.demo-callout {
  padding: theme.$spacing-medium;
  margin: theme.$spacing-x-large auto 0 auto;
  width: theme.$default-width;
  max-width: theme.$max-width;
  background: theme.$white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p {
    margin-block-end: 0;
  }
}
.card-wrapper {
  margin: theme.$spacing-x-large auto 0 auto;
  width: theme.$default-width;
  max-width: theme.$max-width;
  background: theme.$white;

  @media (hover: hover) {
    &:hover:not([disabled]) {
      outline: solid 2px theme.$primary;
    }
  }
  @media (min-width) {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.date-country-label {
  opacity: 0.8;
  font-size: theme.$small-font-size;
}

.project-card-header {
  display: flex;
  padding: theme.$spacing-medium;
  justify-content: space-between;
  background: theme.$primary;
  color: theme.$white;
  gap: theme.$spacing-large;
  //theme.typography.noWordBreak;
  @media (min-width) {
    font-size: theme.$default-font-size;
    padding: theme.$spacing-small;
    flex-direction: column;
  }
  h2 {
    margin: 0 0 theme.$spacing-medium 0;
    line-height: 1.2;
  }
  label {
    margin-left: theme.$spacing-medium;
  }
}
