@use '../../style/theme.scss' as *;
.title-container {
  display: flex;
  @media (max-width: $mobile-break) {
    justify-content: space-between;
  }
}
.project-card__header {
  display: flex;
  justify-content: space-between;
  background: $primary;
  color: $white;
  gap: $spacing-large;

  h2 {
    margin: 0 0 $spacing-medium 0;
    line-height: 1.2;
  }
  label {
    margin-left: $spacing-medium;
  }
}
.pill-container {
  @media (max-width: $mobile-break) {
    display: block;
    max-width: 30%;
    div {
      float: right;
    }
  }
}
.project-card__wrapper {
  margin: $spacing-x-large auto 0 auto;
  width: $max-screen-width;
  max-width: $max-width;
  background: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 2px solid $primary;
  }

  @media (max-width: $tablet-landscape-break) {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

/** Demo project card & callout styling **/
@mixin demo-callout {
  padding: $spacing-large;
  margin: $spacing-x-large auto 0 auto;
  width: $default-width;
  max-width: $max-width;
  background: $white;
  display: block;
  position: relative;
  justify-content: space-between;
  align-items: center;

  & button {
    display: block;
    margin: $spacing-medium auto 0;

    @media (min-width: $tablet-landscape-break) {
      display: inline-block;
      margin: 0;
    }
  }
  & button:nth-child(2) {
    position: absolute;
    display: block;
    top: 0;
    right: $spacing-medium;
    @media (min-width: $tablet-landscape-break) {
      position: relative;
      display: inline-block;
      right: 0;
    }
  }

  @media (min-width: $tablet-landscape-break) {
    display: flex;
  }
  h2 {
    margin-block-start: 0;
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.demo-callout {
  @include demo-callout;
}
.demo-callout--centered {
  @include demo-callout;
  text-align: center;
  display: block;

  p {
    display: block;
    margin-block-end: $spacing-large;
  }
  div {
    display: block;
    width: 100%;
  }
}

.no-wrap-wrapper {
  white-space: nowrap;
}

.date-country-label {
  opacity: 0.8;
  font-size: $small-font-size;
}
