@use '../../style/theme.scss' as *;

.demo-callout {
  padding: $spacing-large;
  margin: $spacing-x-large auto 0 auto;
  width: $default-width;
  max-width: $max-width;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-block-start: 0;
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  &.demo-callout--centered {
    text-align: center;
    display: block;

    p {
      display: block;
      margin-block-end: $spacing-large;
    }
    div {
      display: block;
      width: 100%;
    }

    div.buttons-container {
      display: block;
      margin: 0 auto;
    }
  }
}
.card-wrapper {
  margin: $spacing-x-large auto 0 auto;
  width: $default-width;
  max-width: $max-width;
  background: $white;

  @media (hover: hover) {
    &:hover:not([disabled]) {
      outline: solid 2px $primary;
    }
  }
  @media (min-width) {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.date-country-label {
  opacity: 0.8;
  font-size: $small-font-size;
}

.project-card-header {
  display: flex;
  padding: $spacing-medium;
  justify-content: space-between;
  background: $primary;
  color: $white;
  gap: $spacing-large;

  //theme.typography.noWordBreak;
  @media (min-width) {
    font-size: $default-font-size;
    padding: $spacing-small;
    flex-direction: column;
  }
  h2 {
    margin: 0 0 $spacing-medium 0;
    line-height: 1.2;
  }
  label {
    margin-left: $spacing-medium;
  }
}
