@use '../../../style/theme.scss' as *;
@use '../../../style/_mixins.scss' as *;

.container {
  @include column(center);
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: $spacing-large;
}
