.callout-button-dropdown__list {
  position: absolute;
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-wrap: nowrap;
  max-width: 100%;

  button {
    border-top: none;
    max-width: 100%;
  }
}
