@use '../../../style/theme.scss';

.button-root__callout {
  background-color: theme.$white;
  color: theme.$callout;
  padding: theme.$spacing-small theme.$spacing-medium;
  border: 1px solid theme.$callout;
  border-radius: theme.$border-radius;
  text-transform: none;
  font-family: theme.$font-family;
  font-size: theme.$default-font-size;
  &:hover,
  &:focus,
  &:active:enabled {
    background-color: theme.$callout-active;
    border-color: theme.$callout;
  }
  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    background-color: theme.$white;
    color: theme.$disabled;
    border-color: theme.$disabled;
  }
  &:nth-of-type(2) {
    padding: theme.$spacing-large;
    border-left: none;
  }
}

.callout-button-dropdown__list {
  position: absolute;
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  li {
    list-style: none;
    width: 100%;
    text-wrap: nowrap;
    max-width: 100%;

    button {
      border-top: none;
      max-width: 100%;
    }
  }
}
