.image-guidelines {
  margin: 0 auto;
}

.image-guidelines__ul {
  text-align: left;
  max-width: 500px;
}

.image-crop-guidelines {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  > * {
    max-width: 33%;
  }
}
