.colNumber {
  width: 5rem;
}

.colInvertName {
  width: auto;
}

.colSize {
  width: 15%;
}

.colCount {
  width: 10%;
}

.colDensity {
  width: 12%;
}

.colInclude {
  width: 8%;
}

.colNotes {
  width: 18%;
}

.colValidations {
  width: auto;
}

.colRemove {
  width: 5rem;
}
