@use './theme.scss' as *;

@mixin button {
  transition: $default-transition;
  padding: $spacing-small $spacing-medium;
  border-width: 0;
  display: inline-block;
  cursor: pointer;
  &:disabled {
    color: $black;
    cursor: not-allowed;
  }
  &:active:enabled {
    transition: $default-transition;
  }
}

.icon-button {
  margin-left: $spacing-small;
  margin-right: $spacing-x-small;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-style: none;
  &:disabled {
    cursor: not-allowed;
    color: $disabled;
  }
}

.button--caution {
  @include button;
  color: $white;
  background-color: $caution;
  border: 1px solid $caution;
  &:hover,
  &:focus {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    color: $black;
    background-color: $disabled;
  }
  &:active {
    background-color: $primary;
  }
}
.button--caution__wrapper {
  display: flex;
  padding: $spacing-medium;
  margin: $spacing-large 0;
}
