@use './theme.scss' as *;

@mixin button {
  transition: $default-transition;
  padding: $spacing-small $spacing-medium;
  border-width: 0;
  display: inline-block;
  cursor: pointer;
  &:disabled {
    color: $black;
    cursor: not-allowed;
  }
  &:active:enabled {
    transition: $default-transition;
  }
}

.icon-button {
  margin-left: $spacing-small;
  margin-right: $spacing-x-small;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-style: none;
  &:disabled {
    cursor: not-allowed;
    color: $disabled;
  }
}

.button--caution {
  @include button;
}
.button--caution__wrapper {
  display: flex;
  padding: $spacing-medium;
  margin: $spacing-large 0;
}
