@use './theme.scss' as *;
@use './functions.module.scss' as *;

//from buttons.buttonCss
@mixin button {
  transition: $default-transition;
  padding: $spacing-small $spacing-medium;
  border-width: 0;
  display: inline-block;
  cursor: pointer;
  &:disabled {
    color: $black;
    cursor: not-allowed;
  }
  &:active:enabled,
  &--active {
    transition: $default-transition;
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--primary {
  @include button;
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: lightenColor($primary, 10%);
  }
  &:disabled {
    background-color: lightenColor($primary, 60%);
    color: #9aa8b7;
  }
  &:active:enabled {
    background-color: darkenColor($primary, 30%);
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--secondary {
  @include button;
  background-color: $white;
  color: $primary;
  border: solid 1px $secondary;
  &:hover {
    background-color: lightenColor($secondary, 20%);
  }
  &:disabled {
    background-color: lightenColor($white, 20%);
    color: $disabled;
  }
  &:active:enabled {
    background-color: darkenColor($secondary, 20%);
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--secondary-small {
  @extend .button--secondary;
  line-height: 1;
}

//from buttons.ButtonCaution
.button--caution {
  @include button;
  color: $white;
  background-color: $caution;
  border: 1px solid $caution;
  &:hover,
  &:focus {
    background-color: $caution-hover;
    border-color: $caution-hover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    color: $black;
    background-color: $disabled;
    border-color: $disabled;
  }
  &:active {
    border-color: $caution-active;
    background-color: $caution-active;
  }
}
.button--caution__wrapper {
  display: flex;
  padding: $spacing-medium;
  margin: $spacing-large 0;
}

.button--callout {
  @include button;
  background-color: $white;
  color: $callout;
  padding: $spacing-small $spacing-medium;
  border: 1px solid $callout;
  border-radius: $border-radius;
  text-transform: none;
  font-family: $font-family;
  font-size: $default-font-size;
  &:hover {
    background-color: $callout-hover;
    border-color: $callout;
  }
  &:focus,
  &:active:enabled {
    background-color: $callout-active;
    border-color: $callout;
  }
  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    background-color: $white;
    color: $disabled;
    border-color: $disabled;
  }

  //Dropdown specific
  &:nth-of-type(2) {
    padding: 7px $spacing-medium; //spacing exception for vertical alignment
    border-left: none;
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--link {
  font-size: inherit;
  padding: $spacing-small $spacing-medium;
  background: none;
  border: none;
  cursor: pointer;
  &:disabled {
    color: $disabled;
  }
}

.button--icon {
  margin-left: $spacing-small;
  margin-right: $spacing-x-small;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-style: none;
  &:disabled {
    cursor: not-allowed;
    color: $disabled;
  }
}

.button--input {
  @extend .button--secondary;
  white-space: nowrap;
  border-color: darkenColor($white, 50%);
  border-left: 0;
  padding: $spacing-x-small;
  @media (min-width: $tablet-portrait-break) {
    padding: $spacing-small;
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--close {
  color: $primary;
  border-radius: 100%;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: lightenColor($secondary, 20%);
  }
}
