@use './theme.scss' as *;

@mixin button {
  transition: $default-transition;
  padding: $spacing-small $spacing-medium;
  border-width: 0;
  display: inline-block;
  cursor: pointer;
  &:disabled {
    color: $black;
    cursor: not-allowed;
  }
  &:active:enabled,
  &--active {
    transition: $default-transition;
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--primary {
  @include button;
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: lighten($primary, 10%);
  }
  &:disabled {
    background-color: lighten($primary, 60%);
    color: #9aa8b7;
  }
  &:active:enabled {
    background-color: darken($primary, 30%);
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--secondary {
  @include button;
  background-color: $white;
  color: $primary;
  border: solid 1px $secondary;
  &:hover {
    background-color: lighten($secondary, 20%);
  }
  &:disabled {
    background-color: lighten($white, 20%);
    color: $disabled;
  }
  &:active:enabled {
    background-color: darken($secondary, 20%);
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--secondary-small {
  @extend .button--secondary;
  line-height: 1;
}

.button--caution {
  @include button;
  color: $white;
  background-color: $caution;
  border: 1px solid $caution;
  &:hover,
  &:focus {
    background-color: $caution-hover;
    border-color: $caution-hover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    color: $black;
    background-color: $disabled;
    border-color: $disabled;
  }
  &:active {
    border-color: $caution-active;
    background-color: $caution-active;
  }
}
.button--caution__wrapper {
  display: flex;
  padding: $spacing-medium;
  margin: $spacing-large 0;
}

//Currently unused - confirm styles before use, then remove comment
.button--link {
  font-size: inherit;
  padding: $spacing-small $spacing-medium;
  background: none;
  border: none;
  cursor: pointer;
  &:disabled {
    color: $disabled;
  }
}

.button--icon {
  margin-left: $spacing-small;
  margin-right: $spacing-x-small;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-style: none;
  &:disabled {
    cursor: not-allowed;
    color: $disabled;
  }
}

//Currently unused - confirm styles before use, then remove comment
.button--close {
  color: $primary;
  border-radius: 100%;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: lighten($secondary, 20%);
  }
}
