@function lighten($color, $percent) {
  $result: color-mix(in srgb, $color 80%, white $percent);
  @return $result;
}

@function darken($color, $percent) {
  $result: color-mix(in srgb, $color 80%, black $percent);
  @return $result;
}
