@function lighten($color) {
  $color: color-mix(in srgb, $color 80%, white 20%);
  @return $color;
}

@function darken($color) {
  $color: color-mix(in srgb, $color 80%, black 20%);
  @return $color;
}
