@use './theme.scss' as *;

.pill {
  display: inline-block;
  margin-left: $spacing-large;
  padding: $spacing-x-small $spacing-medium;
  border: solid 1px #ffffff8c;
  border-radius: $border-radius__pill;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: $small-font-size;
  cursor: text;
}
.pill--admin {
  @extend .pill;
  color: $white;
}
.pill--demo {
  @extend .pill;
  color: $white;
  background-color: $callout;
}
