@use './theme.scss' as *;

//Tooltip
.MuiTooltip-tooltip {
  background-color: $primary;
  color: $white;
  font-size: $small-font-size;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
.MuiTooltip-arrow {
  color: $primary;
}
