@use './theme.scss';

tr td:first-child {
  background: theme.$tableRowEven;
}

.details-table {
  border: solid 1px theme.$secondary;
}

.styled-row {
  justify-content: space-between;
  gap: 1rem;
}

.input-container {
  width: 100%;
}

.no-results-dropdown {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
