/** Theme colors **/
$primary: #174b82;
$secondary: #dddce4;

$callout: #f2645a;
$callout-active: #f8d8cc;

$error: #7b0a0a;
$success: #43a841;
$warning: #efda70;
$white: #ffffff;
$disabled: #969696;

$tableRowOdd: #fdfdfe;
$tableRowEven: #f8f8fa;
$tableRowHover: #f1f1f4;

$border-radius: 0px; //update to 4px when enabled globally

/** Media Query Break Points **/
$mobile-break: 599px;
$tablet-portrait-break: 600px;
$tablet-landscape-break: 960px;
$desktop-break: 1300px;

/** Typography **/
$font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$small-font-size: 12px;
$medium-font-size: 14px;
$default-font-size: 16px;

/** Padding **/
$spacing-x-small: 3px;
$spacing-small: 8px;
$spacing-medium: 10px;
$spacing-large: 14px;
$spacing-x-large: 24px;
