/** Theme colors **/
$primary: #174b82;
$secondary: #dddce4;

/** Media Query Break Points **/
$mobile-break: 599px;
$tablet-portrait-break: 600px;
$tablet-landscape-break: 960px;
$desktop-break: 1300px;
