name: Infrastructure Workflow

on:
  workflow_call:
    inputs:
      cdk_subcommand:
        required: true
        type: string
      environment:
        description: 'GitHub environment to pull secrets from'
        required: true
        type: string

permissions:
  actions: write
  contents: read
  id-token: write

jobs:
  cdk:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    env:
      TARGET: ${{ inputs.environment == 'production' && 'production' || 'dev' }}
      VITE_ENVIRONMENT: ${{ inputs.environment == 'production' && 'production' || 'dev' }}
      VITE_MERMAID_API: ${{ vars.VITE_MERMAID_API }}
      VITE_AUTH0_DOMAIN: ${{ vars.VITE_AUTH0_DOMAIN }}
      VITE_MERMAID_REFERENCE_LINK: ${{ vars.VITE_MERMAID_REFERENCE_LINK }}
      VITE_MERMAID_EXPLORE_LINK: ${{ vars.VITE_MERMAID_EXPLORE_LINK }}
      VITE_AUTH0_AUDIENCE: ${{ vars.VITE_AUTH0_AUDIENCE }}
      VITE_AUTH0_CLIENT_ID: ${{ secrets.VITE_AUTH0_CLIENT_ID }}
      VITE_MAPBOX_ACCESS_TOKEN: ${{ secrets.VITE_MAPBOX_ACCESS_TOKEN }}
      VITE_CORAL_ATLAS_APP_ID: ${{ secrets.VITE_CORAL_ATLAS_APP_ID }}

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Fetch yarn cache
        uses: actions/cache@v4.2.2
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}

      - name: Install yarn dependencies
        if: ${{ steps.yarn-cache.outputs.cache-hit != 'true' }}
        run: yarn install --frozen-lockfile

      - name: Create version file for dev
        if: startsWith(github.ref, 'refs/heads/develop')
        run: |
          short_sha=$(git rev-parse --short ${{ github.sha }})
          echo "export const versionNumber = '$short_sha'" > src/version.js
          cat src/version.js

      - name: Set variables and version for prod
        if: startsWith(github.ref, 'refs/tags')
        run: | 
          echo "TARGET=prod" >> "$GITHUB_ENV"
          echo "export const versionNumber = '${{ github.ref_name }}'" > src/version.js
          cat src/version.js

      - name: Yarn Build
        run: yarn build

      # IaC deps
      - name: Fetch iac node cache
        uses: actions/cache@v4.2.2
        id: iac-cache
        with:
          path: iac/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('iac/package-lock.json') }}

      - name: Install IaC dependancies
        if: ${{ steps.iac-cache.outputs.cache-hit != 'true' }}
        working-directory: iac
        run: npm ci

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        env:
          CDK_DEFAULT_ACCOUNT: ${{ secrets.CDK_DEFAULT_ACCOUNT }}
          CDK_DEPLOY_ROLE: ${{ secrets.CDK_DEPLOY_ROLE }}
        with:
          role-to-assume: ${{ secrets.CDK_DEPLOY_ROLE }}
          aws-region: us-east-1
          role-skip-session-tagging: true

      - name: CDK ${{ inputs.cdk_subcommand }} DEV
        if: startsWith(github.ref, 'refs/heads/develop') || (github.event_name == 'pull_request' && inputs.cdk_subcommand == 'diff')
        working-directory: iac
        run: |
          npm install -g aws-cdk && cdk ${{ inputs.cdk_subcommand }} dev-webapp --require-approval never
        env:
          PYTHONPATH: ${{ github.workspace }}
          CDK_DEFAULT_ACCOUNT: ${{ secrets.CDK_DEFAULT_ACCOUNT }}
          CDK_DEFAULT_REGION: us-east-1


      - name: CDK ${{ inputs.cdk_subcommand }} PROD
        if: startsWith(github.ref, 'refs/tags')
        working-directory: iac
        run: |
          npm install -g aws-cdk && cdk ${{ inputs.cdk_subcommand }} prod-webapp -c subdomain=prod --require-approval never
        env:
          PYTHONPATH: ${{ github.workspace }}
          CDK_DEFAULT_ACCOUNT: ${{ secrets.CDK_DEFAULT_ACCOUNT }}
          CDK_DEFAULT_REGION: us-east-1
