name: Deployment

on:
  push:
    branches:
      - develop
    tags:
      - 'v[0-9]+.[0-9]+'        # eg: v1.1
      - 'v[0-9]+.[0-9]+.[0-9]+' # eg: v1.1.1

permissions:
  actions: write
  contents: read
  id-token: write

env:
  VITE_AUTH0_DOMAIN: datamermaid.auth0.com
  CDK_DEFAULT_ACCOUNT: ${{ secrets.CDK_DEFAULT_ACCOUNT }}
  CDK_DEPLOY_ROLE: ${{ secrets.CDK_DEPLOY_ROLE }}
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  deps-cache:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.2.0
        with:
          node-version-file: '.nvmrc'

      - uses: actions/cache@v4.2.2
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - if: ${{ steps.yarn-cache.outputs.cache-hit != 'true' }}
        name: Install dependencies
        run: yarn install

  show-env:
    if: github.event.pull_request.draft == false
    needs: [deps-cache]
    runs-on: ubuntu-latest
    steps:
      - name: "Show chosen environment"
        run: |
          echo "Env from deployment: ${{ (github.ref == 'refs/heads/develop' || github.base_ref == 'develop') && 'dev' || 'production' }}"

  call-lint:
    if: github.event.pull_request.draft == false
    needs: [deps-cache]
    uses: ./.github/workflows/_lint.yml

  call-test:
    if: github.event.pull_request.draft == false
    needs: [deps-cache, call-lint]
    uses: ./.github/workflows/_test.yml
    with:
      environment: ${{ (github.ref == 'refs/heads/develop' || github.base_ref == 'develop') && 'dev' || 'production' }}

  call-cdk-deploy:
    concurrency:
      group: app-deployment-${{ github.ref }}
    needs: [call-lint, call-test]
    uses: ./.github/workflows/_cdk.yml
    secrets: inherit
    with:
      cdk_subcommand: deploy
