@use '../../style/theme.scss' as theme;

.button {
  transition: 0.25s;
  padding: theme.$spacing-small theme.$spacing-medium;
  border-width: 0;
  display: inline-block;
  cursor: pointer;
  &--active {
    transition: 0.25s;
  }
  &:disabled {
    color: theme.$disabled;
    cursor: not-allowed;
  }
}

.button--primary {
  background-color: theme.$primary;
  color: theme.$white;
  &:hover {
    background-color: lighten(theme.$primary, 10%);
  }
  &:disabled {
    background-color: lighten(theme.$primary, 60%);
    color: #9aa8b7;
  }
  &:active:enabled {
    background-color: darken(theme.$primary, 30%);
  }
}

.button--secondary {
  background-color: theme.$white;
  color: theme.$primary;
  border: solid 1px theme.$secondary;
  &:hover {
    background-color: lighten(theme.$secondary, 20%);
  }
  &:disabled {
    background-color: lighten(theme.$white, 20%);
    color: #6b6b6b;
  }
  &:active:enabled {
    background-color: darken(theme.$secondary, 20%);
  }
}

.button--secondary-small {
  @extend .button--secondary;
  line-height: 1;
}

.button--callout {
  background-color: theme.$white;
  color: theme.$callout;
  border: solid 1px theme.$callout;
  &:hover {
    background-color: theme.$callout-active;
  }
  &:disabled {
    color: theme.$disabled;
    border-color: theme.$disabled;
  }
  &:active:enabled {
    background-color: lighten(theme.$callout, 80%);
  }
}

.button--caution {
  background-color: theme.$callout;
  color: theme.$white;
  border: solid 1px theme.$callout;
  &:hover {
    background-color: theme.$callout-active;
    color: theme.$white;
  }
  &:disabled {
    background-color: lighten(theme.$callout, 20%);
    color: #c0766c;
  }
  &:active:enabled {
    background-color: lighten(theme.$callout, 70%);
  }
}

.button--link {
  font-size: inherit;
  padding: theme.$spacing-small theme.$spacing-medium;
  background: none;
  border: none;
  cursor: pointer;
  &:disabled {
    color: theme.$disabled;
  }
}

.button--link-underlined {
  @extend .button--link;
  text-decoration: underline;
  padding: 0;
}

.toolbar-button-wrapper {
  a {
    margin: 0 -1px;
  }
}

.icon-button {
  margin-left: 0.3em;
  margin-right: 0.1em;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-style: none;
}

.view-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  padding: theme.$spacing-small;
  border: solid theme.$border-small theme.$secondary;
  background-color: theme.$white;
  text-align: inherit;
  cursor: pointer;
  &:disabled {
    color: theme.$disabled;
    background-color: lighten(theme.$white, 20%);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: theme.$spacing-small;
  input {
    margin: 0 theme.$spacing-small 0 0;
    cursor: pointer;
  }
}

.input-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: solid theme.$border-small theme.$secondary;
  background-color: theme.$white;
  span {
    font-size: theme.$small-font-size;
  }
  &:disabled {
    color: theme.$disabled;
    background-color: lighten(theme.$white, 20%);
    cursor: not-allowed;
  }
}

.inline-validation-button {
  @extend .button--secondary;
  margin: theme.$spacing-x-small;
  padding: theme.$spacing-x-small theme.$spacing-small;
  text-align: left;
  text-transform: capitalize;
  font-size: smaller;
  white-space: nowrap;
  color: theme.$primary;
}

.close-button {
  color: theme.$primary;
  border-radius: 100%;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background: lighten(theme.$secondary, 20%);
  }
}
